<center>
<meta charset="utf-8">
<table width=999px border=0>
<tr>
<td rowspan=2><img src="/image/logo.jpg" style="width:216px; height:68px"> </td>
<td style="font-size:x-small;"></td>
<td style="background:url('/image/topxmenubg.jpg'); font-size:x-small;text-align:center;">
    <p th:if="${session.admin}"><a th:href="@{/admin/adminlogOut}" style="text-decoration:none;">退出</a>&nbsp;</p>
    <p th:unless="${session.admin}"><a th:href="@{/admin/toAdminLogin}" style="text-decoration:none;">登录</a>&nbsp;</p>
</td>
</tr>
<tr>
<td></td>
<td style="text-align:right;"><img src="/image/ttel.jpg"></td>
</tr>
<tr><td colspan=3 style="background:url('/image/bg-navbox.png'); font-size: small;text-align:center; width:999px;height:40px">
  <span style=" color:White; font-weight:bold; font-size:medium; font-family:宋体">&nbsp; &nbsp; &nbsp;
    <a href="/admin/flowerindex"  style=" text-decoration:none;"><span style=" color:White; font-weight:bold; font-size:medium; font-family:宋体">鲜花管理</span></a>
     &nbsp; &nbsp; &nbsp;|&nbsp;&nbsp;&nbsp;
    <a href="/admin/order/orderlist?status=2"  style=" text-decoration:none;"><span style=" color:White; font-weight:bold; font-size:medium; font-family:宋体">订单管理</span></a>
     &nbsp; &nbsp; &nbsp;|&nbsp;&nbsp;&nbsp;
     <a href=""  style=" text-decoration:none;"><span style=" color:White; font-weight:bold; font-size:medium; font-family:宋体">评价管理</span></a>
     &nbsp; &nbsp; &nbsp;|&nbsp;&nbsp;&nbsp;
      <a href="/index" style="text-decoration:none;"><span style=" color:White; font-weight:bold; font-size:medium; font-family:宋体">前台主页</span></a>
    &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;
    <a href="/admin/index" style="text-decoration:none;"><span style=" color:White; font-weight:bold; font-size:medium; font-family:宋体">后台主页</span></a>
    &nbsp;&nbsp;&nbsp;</span>
   
</td>
</tr>
<tr><td colspan=3 style="background:url('/image/search_bg.jpg'); font-size: small;text-align:center; width:999px;height:35px">

</td>
</tr>
</table></center>