<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>欢迎登录鲜花礼品网</title>
  <script src="/js/jquery-1.4.2.js"></script>
  <script type="text/javascript" src="/js/login_ajax.js"></script>
</head>
<body>
<div id="top" th:insert="top.html"/>
<br><br><center>

  <h1>欢迎登录鲜花礼品网</h1>
  <form>
    <table>
      <tr>
        <td class="tdx">Username：</td>
        <td><input type="text" id="username" name="username" value="a@163.com"/>
          <span style="color:red"></span>
        </td>
      </tr>
      <tr>
        <td class="tdx">密&nbsp;&nbsp; 码：</td>
        <td><input type="password" name="password" value="123"/>
          <span style="color:red"></span>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input type="submit" name="s"  value="登录"/>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <span id = "form_msg" style="color:red"></span>
        </td>
      </tr>
    </table>
  </form>
</body>
</html>